<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">FaceAfeka</a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="/"><i class="fa fa-home" aria-hidden="true"></i> Home <span class="sr-only">(current)</span></a>
            </li>
            {{#unless user}}
                <li class="nav-item">
                    <a class="nav-link" href="/signup"><i class="fa fa-handshake-o" aria-hidden="true"></i> Signup</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login"><i class="fa fa-handshake-o" aria-hidden="true"></i> Login</a>
                </li>
            {{/unless}}
            {{#if user}}
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-handshake-o" aria-hidden="true"></i> Friends</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user" aria-hidden="true"></i> Account
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">My Account</a>
                        <a class="dropdown-item" href="/logout">Log Out</a>
                    </div>
                </li>
            {{/if}}
            <li class="nav-item">
                {{#if user}}
                    <i>Signed in as {{user.username}}</i>
                {{/if}}
            </li>
        </ul>
        {{#if friendsError}}
            {{friendsError}}
        {{/if}}
        <br>
        <form class="form-inline my-2 my-lg-0" action="/add_friend" method="post">
            <div id="remote">
                <input class="typeahead" name='friend_name' type="text" placeholder="Type friend's name">
            </div>

            <script>
                var users = new Bloodhound({
                    datumTokenizer: Bloodhound.tokenizers.whitespace,
                    queryTokenizer: Bloodhound.tokenizers.whitespace,
                    remote: {
                        url: 'users?term=%QUERY',
                        wildcard: '%QUERY'
                    }
                });

                $('#remote .typeahead').typeahead(null, {
                    name: 'users',
                    source: users
                });
            </script>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Add Friend</button>
        </form>
    </div>
</nav>
