
<div class="row">
    <div class="col-md-12">
        <div class="thumbnail">
            <div class="caption">
                <h3 class="message-header"><i class="fa fa-comment" aria-hidden="true"></i> Post#1</h3>
                <h6 class="message-author">By: Baruch Shekelberg</h6>
                <p class="message-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id commodo mauris, nec varius justo. Donec quis leo enim. Donec id nibh id nisl efficitur lacinia eu eget nulla. Donec volutpat purus tortor, non scelerisque magna fermentum vel. Phasellus ac risus pharetra odio porttitor bibendum. Morbi lacinia eleifend nunc, at semper dolor finibus ac. Sed accumsan, erat eget vulputate mattis, felis justo fermentum nunc, in dapibus mauris mi vel mi. In massa tortor, gravida vehicula volutpat sed, efficitur molestie nisi. Fusce in arcu rutrum, auctor turpis at, condimentum mi. Aenean ac neque ante.
                </p>
                <p class="button-group-2">
                    <a href="#" class="btn btn-primary" role="button">Comment</a>
                    <a href="#" class="btn btn-success" role="button">Like</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="thumbnail">
            <div class="caption">
                <h3 class="message-header"><i class="fa fa-comment" aria-hidden="true"></i> Post#1</h3>
                <h6 class="message-author">By: Baruch Shekelberg</h6>
                <p class="message-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id commodo mauris, nec varius justo. Donec quis leo enim. Donec id nibh id nisl efficitur lacinia eu eget nulla. Donec volutpat purus tortor, non scelerisque magna fermentum vel. Phasellus ac risus pharetra odio porttitor bibendum. Morbi lacinia eleifend nunc, at semper dolor finibus ac. Sed accumsan, erat eget vulputate mattis, felis justo fermentum nunc, in dapibus mauris mi vel mi. In massa tortor, gravida vehicula volutpat sed, efficitur molestie nisi. Fusce in arcu rutrum, auctor turpis at, condimentum mi. Aenean ac neque ante.
                </p>
                <p class="button-group-2">
                    <a href="#" class="btn btn-primary" role="button">Comment</a>
                    <a href="#" class="btn btn-success" role="button">Like</a>
                </p>
            </div>
        </div>
    </div>
</div>