
<div class="signup">
    <h1>Signup to Face Afeka</h1>
    <script>
        var error = "{{error}}";
        document.write(error);
    </script>
    <form method="post" action="/signup">
        <p><input type="text" name="username" value="" placeholder="Username"></p>
        <p><input type="password" name="password" value="" placeholder="Password"></p>
        <p class="submit"><input type="submit" name="commit" value="Sign Up"></p>
    </form>
</div>