.col-md-12
{
    margin: 25px;
    background-color: lavender;
    border: 1px dotted black;
    border-radius: 15px;
    width: 80%;
}

.col-md-12 .message-header
{
    margin-top: 15px;
}

.col-md-12 .message-body
{
    position: relative;
    text-align: center;
    margin: 10px;
    font-size: larger;
}

.message-author
{
    margin-top: 10px;
}

.button-group-2
{
    position: relative;
    left: 7%;
    margin-left: 5px;
}

#post-button
{
    margin-left: 30px;
    margin-top: 15px;
}

#private-check
{
    margin-left: 20px;
}

#logo-img
{
    height: 40px;
}

.comment-box
{
    position: relative;
    margin: 5px;
    margin-top: 10px;
    left: 7%;
    width: 30%;
    border-left: 3px solid peachpuff;
    border-right: 3px solid peachpuff;
    border-bottom: 1px dotted black;
    border-top: 1px dotted black;
    border-radius: 5px;
    background-color: lemonchiffon;
}

.comment-body
{
    position: relative;
    left: 20%;
    font-size: large;
}

.comment-author
{
    position: relative;
    left: 8%;
}

.form-control.comment-holder
{
    position: relative;
    margin-top: 10px;
    margin: 5px;
    width: 30%;
    left: 7%;
}